<%- include('../partials/head', {page_title: 'Admin Home'}) %>



    <body>
        <%- include('partials/admin-navbar') %>
        <div class="admin-app container-fluid container">
            <div class="jumbotron">
                <h1>Welcome, Admin!</h1>
            </div>
            <div class="well">
                <h1>Gallery</h1>
                <a href="/admin/gallery" class="btn btn-default btn-lg">Gallery</a>
                <a href="/admin/gallery/edit" class="btn btn-default btn-lg">Edit</a>
                <a href="/admin/gallery/upload" class="btn btn-default btn-lg">Upload</a>
            </div>
            <div class="well">
                <h1>Account</h1>
                <a href="/admin/settings" class="btn btn-default btn-lg">Settings</a>
                <a href="/auth/logout" class="btn btn-danger btn-lg">Logout</a>
            </div>
        </div>


    </body>



<%- include('partials/dropdown') %>



<%- include('../partials/foot') %>
