<%- include('../partials/head', {page_title: 'Login'}) %>



    <body>
        <%- include('../partials/navbar') %>
        <div class="admin-app container-fluid">
            <h1>DELETE THIS PAGE!!</h1>
            <form class="col-md-12" action="/auth/signup" method="post">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input name="username" type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email" type="text" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>

    </body>




<%- include('../partials/foot') %>
