
<div class="main-carousel">
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/400/200/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/410/210/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/420/220/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/430/230/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/440/240/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/450/250/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/460/260/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/460/260/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/450/250/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/440/240/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/400/200/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/410/210/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/420/220/abstract" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="http://lorempixel.com/430/230/abstract" alt="" />
    </div>

</div>
