
<div class="main-carousel">
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/500/500/?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/400/300/?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/600/600/?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/300/300/?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/500/500/?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/400/300/?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/600/600/?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/300/300/?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/500/500/?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/100?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/200?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/300?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/400?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/500?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/600?random" alt="" />
    </div>
    <div class="carousel-cell">
        <img height="500" width="500" src="https://unsplash.it/700?random" alt="" />
    </div>



</div>
