
<section class="action-footer">

</section>


<footer class="footer">
    <img class="brand-image" src="/assets/mcbride_customs_logo.png" alt="Brand" />
    <div class="slogan">
        <h5 class="text">Mcbride Customs | Welcome to the shop!</h5>
        <p class="text">
            <i class="fa fa-copyright"></i> 2015 | Mcbride Customs
        </p>
    </div>
    <div class="admin-link">
        <a class="btn btn-default btn-xs admin-login" href="/auth/login"><i class="fa fa-lock"></i> Admin</a>
    </div>
</footer>
