
<section class="action-footer">

</section>


<footer class="footer">
    <img class="brand-image" src="/assets/mcbride_customs_logo.png" alt="Brand" />
    <div class="slogan">
        <h5 class="text">Mcbride Customs | Welcome to the shop!</h5>
        <p class="text"><i class="fa fa-copyright"></i> by Mcbride Customs</p>
    </div>
</footer>
