<nav class="nav navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="brand-image" src="/assets/mcbride_customs_logo.png" alt="Brand" />
            <a class="navbar-brand" href="/">Mcbride Customs</a>
        </div>
        <div class="navbar-link pull-right">
            <a class="link navbar-brand" href="/">Home</a>
            <a class="link navbar-brand" href="/about">About</a>
            <a class="link navbar-brand" href="/gallery">Gallery</a>
            <a class="link navbar-brand" href="/services">Services</a>
            <a class="link navbar-brand" href="/contact">Contact</a>
        </div>
    </div>
</nav>
