<nav class="nav navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img class="brand-image" src="/assets/mcbride_customs_logo.png" alt="Brand" />
            <a class="navbar-brand" href="/">Mcbride Customs</a>
            <i class="mobile-menu button fa fa-bars"></i>
        </div>
        <div class="navbar-link pull-right">
            <a class="link navbar-brand" href="/">Home</a>
            <a class="link navbar-brand" href="/about">About</a>
            <a class="link navbar-brand" href="/gallery">Gallery</a>
            <a class="link navbar-brand" href="/services">Services</a>
            <a class="link navbar-brand" href="/contact">Contact</a>
        </div>
        <div class="mobile-menu menu">
            <h1>Menu</h1>
            <div class="col-xs-12 menu-item">
                <i class="fa fa-home menu-icon"></i>
                <a class="link navbar-brand" href="/">Home</a>
            </div>
            <div class="col-xs-12 menu-item">
                <i class="fa fa-info-circle menu-icon"></i>
                <a class="link navbar-brand" href="/about">About</a>
            </div>
            <div class="col-xs-12 menu-item">
                <i class="fa fa-picture-o menu-icon"></i>
                <a class="link navbar-brand" href="/gallery">Gallery</a>
            </div>
            <div class="col-xs-12 menu-item">
                <i class="fa fa-wrench menu-icon"></i>
                <a class="link navbar-brand" href="/services">Services</a>
            </div>
            <div class="col-xs-12 menu-item">
                <i class="fa fa-envelope menu-icon"></i>
                <a class="link navbar-brand" href="/contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
