<%- include('partials/head') %>



    <body>
        <%- include('partials/navbar') %>
        <div class="app container-fluid">
            <h1 class="header">About Us</h1>

        </div>

        <%- include('partials/footer') %>
    </body>




<%- include('partials/foot') %>
