<%- include('partials/head') %>



    <body>
        <%- include('partials/navbar') %>
        <h1>Contact</h1>
        <form class="" action="/contact" method="post">
            <button type="submit" name="button">Send Email</button>
        </form>
    </body>




<%- include('partials/foot') %>
