<%- include('partials/head') %>



    <body>
        <%- include('partials/navbar') %>
        <h1>Services</h1>

        <%- include('partials/footer') %>
    </body>




<%- include('partials/foot') %>
