.remove-from-featured {
    position: absolute;
    left: 0;
    top: 0;
}
.delete-image {
    position: absolute;
    left: 0;
    top: 0;
}
.handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
}

.add-to-featured {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
.reorder {
    margin-top: 15px;
}
