@import 'https://fonts.googleapis.com/css?family=Yellowtail';

@import "mquery";
@import "navbar";
@import "flickity";
@import "shapes";
@import "footer";
@import "gallery";
@import "notification";
@import "modal";


//material design theme
@import "materials_theme.min";

* {
	box-sizing: border-box;
}
html, body {
    height: 100%;
	width: 100% !important;
	overflow-x: hidden;
}
body {
	top: 65px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
    margin: 0;
	position: relative;
}

.app {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/carve.jpeg');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.admin-app {
	background: white;
	width: 100%;
	height: auto;
	margin-bottom: 50px;
}

.heading-box {
    height: 700px;
    width: 100%;
}

.jumbotron {
    background-color: rgba(#f9f9f9, 0.70);
    background: rgba(#f9f9f9, 0.70);
    border-radius: 0 0 3px 3px !important;
}

.header {
    text-align: center;
    color: white;
    font-family: 'Yellowtail', cursive;
    margin-top: 80px;
    margin-bottom: 40px;
}

.body-content {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: 100%;

}

.call-to-action {
    width: 150px;
    margin-left: 50% !important;
    left: -75px;
    position: relative;
    @include mobile {
        padding: 20px;
        width: 250px;
        left: -125px;
    }
}

.btn-md, .btn-lg {
	margin: 10px;
}

.alert-dismissible {
	top: 18px;
	position: relative;
	right: 0;
	font-size: 20px;
}



.polylist {
    list-style: none;
    padding: 0;
    .polylist-item {
        padding: 20px;
        text-align: center;
        height: (500 / 3) * 1px;
        .polylist-text {
            color: #b63d32;
            font-family: 'Yellowtail', cursive;
        }
    }
    .polybreak {
        margin: 0;
        padding: 0;
        border: 2px solid black;
    }
}

.loading-spinner {
	font-size: 16px;
}

label {
	font-size: 16px;
}

.contact-message {
	width: 100%;
	height: 208px;
}
